
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';


.weekday-label {
  width: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
 
}


.weekday {
  width: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

.weekday-active {
background-color: green
}